<%- include('partials/header'); %>

    <h1>
        <%= tittleWelcome %>
    </h1>

    <ul>
        <% for(let i = 0; i < animations.length; i++) { %>
            <li><%= animations[i].id %> "<%= animations[i].title %>" <%= animations[i].library %>.</li>
        <% } %>
    </ul>

    <br>
    Realiza una consulta agregando un numero de identificación a continuación de la ruta actual, ejemplo:
    <br>
    <a href="http://localhost:5555/animation/1">http://localhost:5555/animation/1</a>
    <br>
    <br>

<%- include('partials/footer'); %>