<%- include('partials/header'); %>

    <h1>
        <%= tittleWelcome %>
    </h1>

    <ul>
        <% for(let i = 0; i < products.length; i++) { %>
            <li><%= products[i].id %> "<%= products[i].nombre %>" <%= products[i].color %> $<%= products[i].precio %>.</li>
        <% } %>
    </ul>


    <br>
    Realiza una consulta agregando un numero de identificación a continuación de la ruta actual, ejemplo:
    <br>
    <a href="http://localhost:5555/products/1">http://localhost:5555/products/1</a>
    <br>
    <br>

<%- include('partials/footer'); %>